.DS_Store
/.build
/Packages
/*.xcodeproj
build
Sources/
Tests/
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.idea
.fleet
